<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../include/ol.css" type="text/css">
  <script src="../include/ol.js"></script>
</head>
<style></style>

<body>
  <form class="form-inline">
    <label>选择方式 &nbsp;</label>
    <select id="type" class="form-control">
      <option value="singleselect" selected>单选</option>
      <option value="multiselect">多选</option>
    </select>
  </form>
  <div id="map" class="map"></div>

  <script>
    // 实现思路：声明一个对象selection用于存放被选中的要素，在图层的styleFunction中根据feature的索引来确定
    //当前选择的feature是否在selection中，从而决定feature的样式   

    var selection = {};

    var idProp = 'iso_a3';

    var vtLayer = new ol.layer.VectorTile({
      //  declutter: true,
      source: new ol.source.VectorTile({
        format: new ol.format.MVT(),
        url: 'https://ahocevar.com/geoserver/gwc/service/tms/1.0.0/' +
          'ne:ne_10m_admin_0_countries@EPSG%3A900913@pbf/{z}/{x}/{-y}.pbf'
      }),
      style: function (feature) {
        var selected = !!selection[feature.get(idProp)];
        return new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: selected ? 'rgba(200,20,20,0.8)' : 'gray',
            width: selected ? 2 : 1
          }),
          fill: new ol.style.Fill({
            color: selected ? 'rgba(200,20,20,0.2)' : 'rgba(20,20,20,0.9)'
          })
        });
      }
    });




    var map = new ol.Map({
      layers: [
        vtLayer
      ],
      target: 'map',
      view: new ol.View({
        center: [0, 0],
        zoom: 2
      })
    });

    var selectElement = document.getElementById('type');

    map.on('click', function (event) {
      var features = map.getFeaturesAtPixel(event.pixel);
      if (!features) {
        selection = {};
        // 重绘图层
        vtLayer.changed();
        // vtLayer.setStyle(vtLayer.getStyle());
        return;
      }
      var feature = features[0];
      console.log(features)
      var fid = feature.get(idProp);

      if (selectElement.value === 'singleselect') {
        selection = {};
      }
      // 将选中的feature添加到已选择的数组中
      selection[fid] = feature;

      // 重绘图层
      vtLayer.changed();

      // vtLayer.setStyle(vtLayer.getStyle());
    });
  </script>
</body>

</html>