<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../include/ol.css" type="text/css" />
  <script src="../include/ol.js"></script>
</head>
<body>
  
  <div id="map" class="map"></div>

  <script>
     var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');

      var pixelRatio = ol.has.DEVICE_PIXEL_RATIO;

      var gradient = (function() {
        var grad = context.createLinearGradient(0, 0, 1080 * pixelRatio, 0);
        grad.addColorStop(0, 'red');
        grad.addColorStop(1 / 6, 'orange');
        grad.addColorStop(2 / 6, 'yellow');
        grad.addColorStop(3 / 6, 'green');
        grad.addColorStop(4 / 6, 'aqua');
        grad.addColorStop(5 / 6, 'blue');
        grad.addColorStop(1, 'purple');
        return grad;
      })();

      var pattern = (function() {
        canvas.width = 8 * pixelRatio;
        canvas.height = 8 * pixelRatio;

        context.fillStyle = 'white';
        context.fillRect(0, 0, canvas.width, canvas.height);

        context.fillStyle = 'rgba(102, 0, 102, 0.5)';
        context.beginPath();
        context.arc(4 * pixelRatio, 4 * pixelRatio, 3 * pixelRatio, 0, 2 * Math.PI);
        context.fill();

        context.fillStyle = 'rgb(55, 0, 170)';
        context.beginPath();
        context.arc(4 * pixelRatio, 4 * pixelRatio, 1.5 * pixelRatio, 0, 2 * Math.PI);
        context.fill();
        return context.createPattern(canvas, 'repeat');
      }());

      var fill = new ol.style.Fill();
      var style = new ol.style.Style({
        fill: fill,
        stroke: new ol.style.Stroke({
          color: '#333',
          width: 2
        })
      });


      var getStackedStyle = function(feature) {
        var id = feature.getId();
        console.log(id)
        fill.setColor(id > 'J' ? gradient : pattern);
        return style;
      };

      var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          url: '../data/lands.geojson',
          format: new ol.format.GeoJSON()
        }),
        style: getStackedStyle
      });

      var map = new ol.Map({
        layers: [
          vectorLayer
        ],
        target: 'map',
        view: new ol.View({
          center: ol.proj.fromLonLat([16, 48]),
          zoom: 3
        })
      });

  </script>
</body>

</html>