<!DOCTYPE html>
<html>

<head>
	<title>限制地图的缩放级别</title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css">
	<script src="../include/ol.js"></script>
	
</head>

<body>
	<div id="map" class="map"></div>

	<script>

	var map = new ol.Map({
			target: 'map',
			layers: [
			new ol.layer.Tile({
				source: new ol.source.BingMaps({
				key: 'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5',
				imagerySet: 'Aerial'
				})
			})
			],
			view: new ol.View({
			center: [-13553864, 5918250],
			zoom: 11,
			minZoom: 9,
			maxZoom: 13
			})
		});

	</script>
</body>

</html>