<!DOCTYPE html>
<html>

<head>
	<title>使用网页上的按钮控制地图缩放</title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css">
	<script src="../include/ol.js"></script>

</head>

<body>
	<button id="zoom-out">缩小</button>
	<button id="zoom-in">放大</button>
	<div id="map" class="map"></div>

	<script>

		var map = new ol.Map({
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				})
			],
			target: 'map',
			view: new ol.View({
				center: [0, 0],
				zoom: 2
			})
		});

		document.getElementById('zoom-out').onclick = function () {
			var view = map.getView();
			var zoom = view.getZoom();
			view.setZoom(zoom - 1);
		};

		document.getElementById('zoom-in').onclick = function () {
			var view = map.getView();
			var zoom = view.getZoom();
			view.setZoom(zoom + 1);
		};

	</script>
</body>

</html>