<!DOCTYPE html>
<html>

<head>
	<title>单击激活地图启用交互</title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css">
	<script src="../include/ol.js"></script>

</head>

<body>
	<div tabindex="2" id="map" class="map"></div>
	<div>
			中新网客户端北京7月30日电（记者 上官云）30日，“长安十二时辰仙灯”登上热搜。在热门剧《长安十二时辰》中，一座高大的“仙灯”吸引了许多观众的视线，许多观众感叹其造型精致。

			　　实际上，类似的花灯在唐代并不罕见，有些还相当有技术含量。据民俗专家介绍，古代花灯有些体型巨大，有些小而精致，有的比剧中的“仙灯”还要复杂得多。
			
			资料图：图为龙灯吸晴。　吕明 摄资料图：图为龙灯吸晴。　吕明 摄
			　　花灯，又叫灯笼，主要的作用是照明。古代的灯笼一般由纸或者绢作为灯笼的外皮，骨架通常使用竹或木条制作，中间放上蜡烛。
			
			　　它起源于汉代，在唐代十分盛行，宋代则遍及民间。花灯的制作十分讲究，在具备生活功能的同时，也可以做得富有艺术感。
			
			　　比如，仅就花灯的种类而言，就有宫灯、纱灯、龙凤灯、棱角灯、树地灯、礼花灯、蘑菇灯等；从形状上区分，则有圆形、正方形、圆柱形、多角形等。
			
			　　龙灯是其中比较有特色的一类，把灯饰和舞蹈很好地结合在一起：龙灯前有龙首，身体则由数节构成，每节内燃起拉住。龙灯起舞时，还有锣鼓相配合，场面很壮观。
			
			　　民俗专家王娟介绍，古代比较常见的还有体型巨大的“鳌灯”，仿照事物形象编制而成。此外，还有根据戏曲故事、民间故事制成的“活动灯”，如牛郎织女、二十四孝等，十分好看。
			
			　　除了平时用来照明外，人们会在春节、元宵节等节日悬挂花灯，既增添了喜气，也有祈求平安之意。上元节观灯的习俗亦由来已久。
			
			　　在《长安十二时辰》中，其背景设定便与之有关，讲述了在上元节前夕，长安城陷入危局，长安死囚张小敬临危受命，与少年名士李必携手在十二时辰内拯救长安的故事。
			
			图片来源：视频截图图片来源：视频截图
			　　在剧集片段中，一盏看上去高大无比的“仙灯”十分引人注目。也有人说，在古代是否真有如此体量庞大还制作精巧的花灯？
			
			　　答案是肯定的。唐代灯会十分热闹，元宵放灯成为很受欢迎的文化娱乐活动，千家万户一起出来观灯，大街上熙熙攘攘，马车都无法掉头。人们既是看热闹，也是看新奇。那时候的花灯制作，已经很有技术含量了。
			
			　　有一种花灯，确实形似“摩天轮”。《朝野佥载》中记载：唐睿宗先天二年正月十五，在安福门外做一巨型灯轮，高达二十丈，装饰着各种丝绸、金玉，灯轮悬挂花灯五万盏，五彩缤纷。
			
			　　此外，还有制作精巧的“灯树”、“灯楼”等。《明皇杂录》里记载：唐玄宗时期的工匠毛顺手很巧，以缯采结为灯楼。这座灯楼高达一百五十尺，如果有风吹过，灯楼上悬挂的金玉之物便发出清脆的声音，十分悦耳。
			
			　　《开元天宝遗事》里则提到，当时韩国夫人置办了百枝灯树，灯树高八十尺，竖之高山上。此后在上元夜燃灯，光芒亮到百里皆见。
			
			资料图：为刻纸在龙灯烛光映照下光彩夺目，各种图案生动逼真。　张斌 摄资料图：为刻纸在龙灯烛光映照下光彩夺目，各种图案生动逼真。　张斌 摄
			　　各式花灯吸引人们流连忘返。唐代诗人苏味道在《正月十五夜》中写道：“火树银花合，星桥铁锁开。暗尘随马去，明月逐人来。”描绘了花灯与月光相映的动人场面。
			
			　　宋代花灯制作水平比唐代愈加先进。南宋盛行“走马灯”，设有“轮轴”，也叫纸轮风车，上有剪纸，在灯内点上蜡烛后燃烧产生的热力造成气流，带动轮轴转动，烛光将剪纸的影投射在灯屏上，图象不断变化。
			
			　　明清时期的花灯品类更多。除鳌山灯之外，清代的元宵放灯中，还出现了冰灯。
			
			　　王娟说，上元灯俗在汉魏时期就很普遍了，唐代也很流行。此外，无论制作花灯，还是沿袭已久的“观灯”习俗，代表的都是人们对美好生活的向往。（完）
			
			
	</div>
	<script>

		var map = new ol.Map({
			interactions: ol.interaction.defaults({
				onFocusOnly: true
			}),
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				})
			],
			target: 'map',
			view: new ol.View({
				center: [0, 0],
				zoom: 2
			})
		});


		map.on('moveend',function(){
			console.log(map.getView().getZoom())
		})

	</script>
</body>

</html>