<!DOCTYPE html>
<html>

<head>
	<title>视图同步的两个地图
	</title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css">
	<script src="../include/ol.js"></script>

</head>
<style>
	@media (min-width: 1024px) {
		.half {
			padding: 0 10px;
			width: 50%;
			float: left;
		}
	}
</style>

<body>
	<div class="half">
		<h4>OSM</h4>
		<div id="OSM" class="map"></div>
	</div>
	<div class="half">
		<h4>Bing</h4>
		<div id="BingMap" class="map"></div>
	</div>


	<script>
		var layero = new ol.layer.Tile({
			source: new ol.source.OSM()
		});
		var layerb = new ol.layer.Tile({
			source: new ol.source.BingMaps({
				key: 'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5',
				imagerySet: 'Aerial'
			})
		});
		var view = new ol.View({
			center: [0, 0],
			zoom: 1
		});

		var map1 = new ol.Map({
			target: 'OSM',
			layers: [layero],
			view: view
		});

		var map2 = new ol.WebGLMap({
			target: 'BingMap',
			layers: [layerb],
			view: view
		});
	</script>
</body>

</html>