<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../include/ol.css" type="text/css" />
  <script src="../include/ol.js"></script>
</head>
<style></style>

<body>

  <div id="map" class="map"></div>

<script>
    var map = new ol.Map({
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM({
            wrapX: false
          })
        })
      ],
      target: 'map',
      view: new ol.View({
        center: [0, 0],
        zoom: 1
      })
    });

    var source = new ol.source.Vector({
      wrapX: false
    });
    var vector = new ol.layer.Vector({
      source: source
    });
    map.addLayer(vector);

    //添加一个位置随机的要素
    function addRandomFeature() {
      var x = Math.random() * 360 - 180;
      var y = Math.random() * 180 - 90;
      var geom = new ol.geom.Point(ol.proj.fromLonLat([x, y]));
      var feature = new ol.Feature(geom);
      source.addFeature(feature);
    }

    var duration = 3000;
    //实现动画效果的函数
    function flash(feature) {
      var start = new Date().getTime();
      var listenerKey = map.on('postcompose', animate);
      //绑定后渲染事件，可看做动画的“start”  
      function animate(event) {
        var vectorContext = event.vectorContext;
        var frameState = event.frameState;
        var flashGeom = feature.getGeometry().clone();
        var elapsed = frameState.time - start;
        var elapsedRatio = elapsed / duration;
        //easeOut返回一个0-1之间的数值
        var radius = ol.easing.easeOut(elapsedRatio) * 25 + 5;
        var opacity = ol.easing.easeOut(1 - elapsedRatio);
        console.log(elapsedRatio);
        
        console.log("easeOut:"+ol.easing.easeOut(elapsedRatio));

        var style = new ol.style.Style({
          image: new ol.style.Circle({
            radius: radius,
            stroke: new ol.style.Stroke({
              color: 'rgba(255, 0, 0, ' + opacity + ')',
              width: 0.25 + opacity
            })
          })
        });
        //通过设置样式来实现图形的变化
        vectorContext.setStyle(style);
        vectorContext.drawGeometry(flashGeom);
        //超过3秒钟就取消绑定
        if (elapsed > duration) {
          ol.Observable.unByKey(listenerKey);
          return;
        }
        //可看做动画的“下一帧”
        map.render();
      }
    }
    //绑定了addFeature事件，回调函数中调用了flash这个工具函数
    source.on('addfeature', function (e) {
      flash(e.feature);
    });

    //每隔1秒添加一个位置随机的要素
    window.setInterval(addRandomFeature, 1000);
  </script>
</body>

</html>