<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../include/ol.css" type="text/css" />
    <script src="../include/ol.js"></script>
  </head>
  <style></style>

  <body>
    <div id="map" class="map"></div>

    <script>
      var osmSource = new ol.source.OSM();
      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: osmSource
          }),
          new ol.layer.Tile({
            source: new ol.source.TileDebug({
              projection: "EPSG:3857",
              tileGrid: osmSource.getTileGrid()
            })
          })
        ],
        target: "map",
        view: new ol.View({
          center: ol.proj.fromLonLat([-0.1275, 51.507222]),
          zoom: 10
        })
      });
    </script>
  </body>
</html>
