<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../include/ol.css" type="text/css" />
    <script src="../include/ol.js"></script>
  </head>
  <style></style>

  <body>
    <div id="map" class="map"></div>
   
    <script>
      // 定义ARCGIS服务支持的瓦片大小.
      var tileSize = 128;

      var urlTemplate =
        "https://services.arcgisonline.com/arcgis/rest/services/" +
        "ESRI_Imagery_World_2D/MapServer/tile/{z}/{y}/{x}";
      var map = new ol.Map({
        target: "map",
        layers: [
          new ol.layer.Tile({
            source: new ol.source.XYZ({
              attributions: "Copyright:© 2013 ESRI, i-cubed, GeoEye",
              maxZoom: 16,
              projection: "EPSG:4326",
              tileSize: tileSize,
              tileUrlFunction: function(tileCoord) {
                return urlTemplate
                  .replace("{z}", (tileCoord[0] - 1).toString())
                  .replace("{x}", tileCoord[1].toString())
                  .replace("{y}", (-tileCoord[2] - 1).toString());
              },
              wrapX: true
            })
          })
        ],
        view: new ol.View({
          center: [0, 0],
          projection: "EPSG:4326",
          zoom: 2,
          minZoom: 2
        })
      });
    </script>
  </body>
</html>
