<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../include/ol.css" type="text/css" />
    <script src="../include/ol.js"></script>
  </head>
  <style></style>

  <body>
    <div id="map" class="map"></div>
    <div id="info">&nbsp;</div>
    <script>
     var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.XYZ({
        url: 'https://api.mapbox.com/styles/v1/{mapboxusername}/{session}/tiles/256/{z}/{x}/{y}?access_token=pk.ey'
      })
    })
  ],


  target: 'map',
  view: new ol.View({
    center: [0, 0],
    zoom: 2
  })  })
    </script>
  </body>
</html>
