<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../include/ol.css" type="text/css" />
    <script src="../include/ol.js"></script>
  </head>
  <style></style>

  <body>
    <div id="map" class="map"></div>
    <script>
      var openCycleMapLayer = new ol.layer.Tile({
        source: new ol.source.OSM({
          attributions: [
            'All maps © <a href="https://www.opencyclemap.org/">OpenCycleMap</a>',
            ol.source.ATTRIBUTION
          ],
          url: 'https://{a-c}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png' +
              '?apikey=0e6fc415256d4fbb9b5166a718591d71'
        })
      });

      var openSeaMapLayer = new ol.layer.Tile({
        source: new ol.source.OSM({
          attributions: [
            'All maps © <a href="http://www.openseamap.org/">OpenSeaMap</a>',
            ol.source.ATTRIBUTION
          ],
          opaque: false,
          url: 'https://tiles.openseamap.org/seamark/{z}/{x}/{y}.png'
        })
      });


      var map = new ol.Map({
        layers: [
          openCycleMapLayer,
          openSeaMapLayer
        ],
        target: 'map',
        view: new ol.View({
          maxZoom: 18,
          center: [-244780.24508882355, 5986452.183179816],
          zoom: 15
        })
      });
    </script>
  </body>
</html>
