<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../include/ol.css" type="text/css" />
    <script src="../include/ol.js"></script>
  </head>
  <style></style>

  <body>
    <select id="layer-select">
      <option value="Aerial">航拍图</option>
      <option value="AerialWithLabels" selected>带标记的航拍图</option>
      <option value="Road">道路网 (静态)</option>
      <option value="RoadOnDemand">道路网 (动态)</option>
      <option value="collinsBart">Collins Bart</option>
      <option value="ordnanceSurvey">英国地形测量局地图</option>
    </select>
    <div id="map" class="map"></div>
    <div id="info">&nbsp;</div>
    <script>
       var styles = [
        'Road',
        'RoadOnDemand',
        'Aerial',
        'AerialWithLabels',
        'collinsBart',
        'ordnanceSurvey'
      ];
      var layers = [];
      var i, ii;
      for (i = 0, ii = styles.length; i < ii; ++i) {
        layers.push(new ol.layer.Tile({
          visible: false,
          preload: Infinity,
          source: new ol.source.BingMaps({
            key: 'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5',
            imagerySet: styles[i]

          })
        }));
      }
      var map = new ol.Map({
        layers: layers,
        loadTilesWhileInteracting: true,
        target: 'map',
        view: new ol.View({
          center: [-6655.5402445057125, 6709968.258934638],
          zoom: 13
        })
      });

      var select = document.getElementById('layer-select');
      function onChange() {
        var style = select.value;
        for (var i = 0, ii = layers.length; i < ii; ++i) {
          layers[i].setVisible(styles[i] === style);
        }
      }
      select.addEventListener('change', onChange);
      onChange();

    </script>
  </body>
</html>
