<!DOCTYPE html>
<html>

<head>
  <title>全屏控件的使用
  </title>
  <link rel="stylesheet" href="../include/ol.css" type="text/css">
  <script src="../include/ol.js"></script>

</head>
<style>

</style>

<body>

  <div id="map" class="map"></div>

  <script>
  
  var view = new ol.View({
        center: [-9101767, 2822912],
        zoom: 14
      });

      var map = new ol.Map({
        controls: ol.control.defaults().extend([
          new ol.control.FullScreen()
        ]),
        layers: [
          new ol.layer.Tile({
            source: new ol.source.BingMaps({
              key: 'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5',
              imagerySet: 'Aerial'
            })
          })
        ],
        target: 'map',
        view: view
      });
  </script>
</body>

</html>