<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css" />
	<script src="../include/ol.js"></script>
</head>
<style></style>

<body>
	<div>&nbsp 按住Shift并使用鼠标拖拽可以旋转、缩放地图</div>
	<div id="map" class="map"></div>

	<script>
		var map = new ol.Map({
			interactions: ol.interaction.defaults().extend([new ol.interaction.DragRotateAndZoom()]),
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				})
			],
			target: "map",
			view: new ol.View({
				center: [0, 0],
				zoom: 2
			})
		});

	</script>
</body>

</html>