<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" href="../include/ol.css" type="text/css" />
	<script src="../include/ol.js"></script>
</head>
<style></style>

<body>
	<div id="info">没有对象被选择</div>
	<div id="map" class="map"></div>

	<script>
		
		var vectorSource = new ol.source.Vector({
        url: '../data/lands.geojson',
        format: new ol.format.GeoJSON()
      });


      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          new ol.layer.Vector({
            source: vectorSource
          })
        ],
        target: 'map',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

  
      var select = new ol.interaction.Select();
      map.addInteraction(select);

      var selectedFeatures = select.getFeatures();

      //DragBox interaction对象，用来实现画框选择
      var dragBox = new ol.interaction.DragBox({
        //检测ctrl键是否被按下
        condition: ol.events.condition.platformModifierKeyOnly
      });
      map.addInteraction(dragBox);

      dragBox.on('boxend', function() {

        var extent = dragBox.getGeometry().getExtent();
        vectorSource.forEachFeatureIntersectingExtent(extent, function(feature) {
          selectedFeatures.push(feature);
        });
      });

      dragBox.on('boxstart', function() {
        selectedFeatures.clear();
      });

      var infoBox = document.getElementById('info');

      selectedFeatures.on(['add', 'remove'], function() {
        var names = selectedFeatures.getArray().map(function(feature) {
          return feature.get('name');
        });
        if (names.length > 0) {
          infoBox.innerHTML = names.join(', ');
        } else {
          infoBox.innerHTML = 'No countries selected';
        }
      });
	</script>
</body>

</html>