* {margin: 0; padding: 0;box-sizing: border-box;}

:root {
  --font-size: 14px;
  --button-height: 32px;
  --button-bg: white;
  --border-radius: 4px;
  --color:#333;
  --border-color: #eff2f6;
  --border-color-hover: #ccc;
  --button-active-bg: #eff2f6;
}

.icon {
  width: 1em;height: 1em;
}