<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="../include/ol.css" type="text/css" />
  <script src="../include/ol.js"></script>
</head>
<style></style>

<body>

  <label>上</label><input type="text" id="top"><br>
  <label>右</label><input type="text" id="right"><br>
  <label>下</label><input type="text" id="bottom"><br>
  <label>左</label><input type="text" id="left">
  <div id="map" class="map"></div>
  <div id="info">&nbsp;</div>
  <script>
    var map = new ol.Map({
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      target: 'map',
      view: new ol.View({
        center: [0, 0],
        zoom: 2
      })
    });

    function display(id, value) {
      document.getElementById(id).value = value.toFixed(2);
    }

    function wrapLon(value) {
      var worlds = Math.floor((value + 180) / 360);
      return value - (worlds * 360);
    }

    function onMoveEnd(evt) {
      var map = evt.map;
      var extent = map.getView().calculateExtent(map.getSize());
      var bottomLeft = ol.proj.toLonLat(ol.extent.getBottomLeft(extent));
      var topRight = ol.proj.toLonLat(ol.extent.getTopRight(extent));
      display('left', wrapLon(bottomLeft[0]));
      display('bottom', bottomLeft[1]);
      display('right', wrapLon(topRight[0]));
      display('top', topRight[1]);
    }

    map.on('moveend', onMoveEnd);
  </script>
</body>

</html>